

body{
    background-color: aquamarine;
    margin-top: 100px;
    margin-left: 120px;
}

.box{
    border: 2px solid;
    display: inline-block;
    width: 100px;
    height: 100px;
    transform:
    rotatez(-45deg);
}

#box1{
    animation-name: box1anim;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}
@keyframes box1anim{
    0%{transform:
        translate(-200px, -200px)
        rotateZ(180deg);}
    50%{transform:
        translate(200px, 200px)
        rotateZ(90deg);}
}

#box2{
    animation-name: box2anim;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}
@keyframes box2anim{
    0%{transform:
        translate(200px, -200px)
        rotateZ(180deg);}
    50%{transform:
        translate(-200px, 200px)
        rotateZ(90deg);}
}

#box3{
    animation-name: box3anim;
    animation-delay: 3s;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}
@keyframes box3anim{
    0%{transform:
        translate(-200px, 200px)
        rotateZ(180deg);}
    50%{transform:
        translate(200px, -200px)
        rotateZ(90deg);}
}

#box4{
    animation-name: box4anim;
    animation-delay: 4s;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}
@keyframes box4anim{
    0%{transform:
        translate(200px, 200px)
        rotateZ(180deg);}
    50%{transform:
        translate(-200px, -200px)
        rotateZ(90deg);}
}