

body{
    background-color: rgb(100, 100, 100);
    display: flex;
    justify-content: center;
    margin-top: 35vh;
}

button{
    font-size: 25px;
    width: 150px;
    height: 75px;
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
}
button:hover{
    background-color: rgb(200, 200, 200);
    font-weight: bold;
    width: 155px;
    height: 80px;
}

#homeBtn{
    animation-name: anim1;
    animation-duration: 1s;
}
@keyframes anim1{
    from{transform: translate(-50px, -50px);
        opacity: 0%;}
}

#storeBtn{
    animation-name: anim2;
    animation-duration: 1s;
}
@keyframes anim2{
    from{transform: translate(50px, -50px);
        opacity: 0%;}
}

#guildBtn{
    animation-name: anim3;
    animation-duration: 1s;
}
@keyframes anim3{
    from{transform: translate(-50px, 50px);
        opacity: 0%;}
}

#leaveBtn{
    animation-name: anim4;
    animation-duration: 1s;
}
@keyframes anim4{
    from{transform: translate(50px, 50px);
        opacity: 0%;}
}